<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Estás en el Home</h1>
    <h2>Secciones:</h2>
        <ul>
            <li>
                <a href="http://localhost:3030/babbage">Charles Babbage</a>
            </li>
            <li>
                <a href="http://localhost:3030/berners-lee">Tim Berners Lee</a>
            </li>
            <li>
                <a href="http://localhost:3030/clarke">Edmund Melson Clarke</a>
            </li>
            <li>
                <a href="http://localhost:3030/hamilton">Margaret Hamilton</a>
            </li>
            <li>   
                <a href="http://localhost:3030/hopper">Grace Murray Hopper</a>
            </li>
            <li>
                <a href="http://localhost:3030/lovelace">Ada Lovelace</a>
            </li>
            <li>
                <a href="http://localhost:3030/turing">Alan Turing</a>
            </li>
        </ul>
</body>
</html>